input(type='checkbox', name='toggle-backlog').toggle-backlog#toggle-backlog
#dashboard
    header
      | Hack Summit Team
      a.logout(href='#') Logout
      label(for='toggle-backlog').toggle-backlog-label Backlog
    .info
      p.team
        | Hack Summit Team
        span.fade 7 members
    .members
      .container
        each i in new Array(7)
          .member
            h2.name Nombre
            ul.todo
              li item 1
              li item 2
              li item 3
              li item 4
              li item 5
    .backlog
      h2.heading
        | Backlog
        span.fade 10 items
        label(for='toggle-backlog').close Close
